* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;

    height: 90vh;
    width: 90vw;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;

}


.b {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #F7F7F7;
    box-shadow: 3px 3px 4px rgb(190, 193, 195) inset;
    border-radius: 13px;
    margin: 0px 0px 34px 0px;

}

input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: xx-large;
    text-align: right;
    border-radius: 13px;
    padding-right: 5px;
}

.a {
    height: 460px;
    width: 321px;
    background-color: white;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 3px 3px 4px rgb(226, 227, 228);

}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 18px;
  
}

.container div {
    box-shadow: 3px 3px 4px rgb(226, 227, 228);
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
}

.alpha {
    grid-column: 1/3;
    background-color: #0AD6A0;
    color: white;
}

.num {
    background-color: #BBDEFB;
}

.c {
    background-color: #F55C47;
    color: white;
}

.item {
    background-color: #FFD166;
}

// hello
